<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    
      <h2>User info</h2>

      <%= form_with model: @user, url: user_path(@user), method: :patch, local: true, html: {multipart: true } do |f| %>
        <% if @user.errors.any? %>
          <div class="alert alert-danger">
            <p class="mb-1"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved: </p>
             <ul class="mb-0">
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-3">
          <%= f.label :name, "Name",class: "form-label" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :profile_image, "Image", class: "form-label" %>
          <div class="d-flex align-items-center gap-3" >
  
            <%= f.file_field :profile_image %>
          </div>
        </div>

        <div class="mb-4">
          <%= f.label :introduction, "Introduction", class: "form-label" %>
          <%= f.text_area :introduction, rows: 2, class: "form-control" %>
        </div>

        <%= f.submit "Update User", class: "btn btn-secondary" %>
      <% end %>


    </div>
  </div>
</div>



