<% flash.each do |key, message| %>
  <div style="text-align: left; margin-left: 0;">
    <%= message %>
  </div>
<% end %>


<div class="container px-5 px-sm-0">
  <div class="row">
    <aside class="col-md-3">
      <%= render "shared/sidebar",user: @book.user, book: Book.new %>
    </aside>
    <main class="col-md-8 offset-md-1">
      <h2 class="mt-3">Book detail</h2>
      <table class="table table-inverse">

        <tbody>
            <tr>
              <td>
                <%= link_to user_path(@book.user) do %>
                  <% if @book.user.profile_image.attached? %>
                    <%= image_tag @book.user.profile_image.variant(resize_to_fill: [80, 80]), class: "rounded " %>
                  <% else %>
                    <%=image_tag "no_image.jpg", width:80, height:80, alt: "" %>
                  <% end %>
                    <div>
                      <%= @book.user.name %>   
                    </div>
                <% end %>
                </td>

              
              <td><%= link_to @book.title, book_path(@book) %></td>
              <td><%= @book.body %></td>

              <% if @book.user == current_user %> 
                <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
                <td><%= link_to "Destroy", book_path(@book), method: :delete,
                                                             data: {confirm:"本当に消しますか？"},
                                                             class: "btn btn-sm btn-danger" %></td>
              <% end %>
              
            </tr>
        </tbody>

      </table>

    </main>
  </div>
</div>
