<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class= "navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
      <!--左側のロゴ-->
        <%= link_to "Bookers", root_path, class: "navbar-brand" %>
        
        <!--右側メニュー-->
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <!--ログイン後-->
            <li class="nav-item">
              <%= link_to "Home",user_path(current_user), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Users", users_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Books", books_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>

          <% else %>
            <li class="nav-item">
             <%= link_to '<i class="fa-solid fa-house"></i> Home'.html_safe, root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to '<i class="fa-solid fa-link"></i> About'.html_safe, about_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to '<i class="fa-solid fa-user-plus"></i> Sign up'.html_safe, new_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to '<i class="fa-solid fa-right-to-bracket"></i> Log in'.html_safe, new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
        
    <%= yield %>

    <footer class="d-flex justify-content-center mt-5 mb-3">
        <p>CopyRight Infratop.inc</p>
    </footer>

  </body>
</html>
