<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class= "navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
      
        <%= link_to "Bookers", root_path, class: "navbar-brand" %>

        <!--ハンバーガーメニュー-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarMenu">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <!--ログイン後-->
              <li class="nav-item">
                <%= link_to '<i class="fa-solid fa-house"></i> Home'.html_safe, user_path(current_user), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to '<i class="fa-solid fa-users"></i> Users'.html_safe, users_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to '<i class="fa-solid fa-book-open"></i> Books'.html_safe, books_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to '<i class="fa-solid fa-right-from-bracket"></i> Log out'.html_safe, destroy_user_session_path, method: :delete, class: "nav-link " %>
              </li>

            <% else %>
              <!--ログイン前-->
              <li class="nav-item">
              <%= link_to '<i class="fa-solid fa-house"></i> Home'.html_safe, root_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to '<i class="fa-solid fa-link"></i> About'.html_safe, about_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to '<i class="fa-solid fa-user-plus"></i> Sign up'.html_safe, new_user_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to '<i class="fa-solid fa-right-to-bracket"></i> Log in'.html_safe, new_user_session_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  
   
          <% if defined?(@book) && @book&.errors&.any? %>
            <div class="container px-5 px-sm-0 mt-3">
              <div class="row">
                <div class="col-md-8 offset-md-0"
                  <div class="alert ">
                    <h3 class="mb-2"><%= @book.errors.count %> errors prohibited this obj from being saved: </h3>
                    <ul class="mb-0">
                      <% @book.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                      <% end %>
                    </ul>
                  </div>
            </div>
          <% end %>
       

    <%= yield %>

    
      


    <footer class="d-flex justify-content-center mt-5 mb-3">
        <p>CopyRight Infratop.inc</p>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
